# Python virtual environments
env/
.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# uv
.uv/